<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.mall.order.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.sample.mall.order.model.OrderDO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="order_no" jdbcType="BIGINT" property="orderNo"/>
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="coupon_record_id" jdbcType="BIGINT" property="couponRecordId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.sample.mall.order.model.OrderDO">
        insert into `mall-order`.t_order
        (
            order_no,
            amount,
            status,
            user_id,
            coupon_record_id
        )
        values
        (
            #{orderNo},
            #{amount},
            #{status},
            #{userId},
            #{couponRecordId}
        )
    </insert>

</mapper>
